<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pootiapps.runforlife" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
        <uses-permission android:name="android.permission.INTERNET"/>
        <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

        <meta-data android:name="com.here.android.maps.appid" android:value="rKmmWwTDdJhTSN6DjL5G"/>
        <meta-data android:name="com.here.android.maps.apptoken" android:value=" 5lsx2054Z4HzOOlx-6THDQ"/>
        <meta-data android:name="com.here.android.maps.license.key" android:value="LiaTI830/J1cUmk4nxOUwDoBYLL9yTEAbbY1nlx4GHTn652+6meaTosXuvjfTYVSfq0V0ckCe4Q+8FjYRPSYYJGD0IaxuN7HCq92BS1Ra6q6UonOYmwfBdg0h7Mjjnxf/EjRcycYuc33ierDh3w3ITr2klglAGKpb0lAG0ECVLngJaJL/I9grTnvQgHr5iEUEDYpFMmZqmZYfNRBcNzeroYg20HU2480VKVTt1HS5Hi5dXvzOmksRG0Y1KdDb4OZ5O7lO/qCovpLMTLA6Ab6V+lWa8sQFFw7+drVN/2DyZYmsezoJjnoa0F2NXI44tCzeU9F1WzEGPp52N6BKsmIcmVIiyPaA50gLEE4BYkBtDCXEPYu9Iln8/Exru6Qnu2hXyU7HcnsWh5ksvot+Lpp/ST73bETmoiDl0iEf299u7Am1WJjCXcZEYph/UQVGoU2kdEdQQHuydIEkteERU73x0Al4b90L7sErOPtxhd50C3e/P59F+NUkiMPSUPOPjTyTpqJ66QIDpGQElwF8vruvFwsr3BfWjbW8o3ZTWXC26V/rIjBvZJ6TxL/iDk5KNkbf55kjwqSjPPi8CzIIzKUM237ttCMBfH8ynxgIV49DlwQ7jGYMnKsPOUKBEqp3OpM54YV0REFWx1KczdpVH3j4ANMMVWPNfW5ufqKInhycd0="/>


        <service
            android:name="com.here.android.mpa.service.MapService"
            android:label="HereMapService"
            android:process="global.Here.Map.Service.v2"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.here.android.mpa.service.MapService" >
                </action>
            </intent-filter>
        </service>
    </application>

</manifest>
